.card {
  display: block;
  box-sizing: border-box;

  height: 100%;
  padding: 24px;

  color: inherit;
  text-decoration: none;

  background-color: var(--light);
}

.card-body {
  margin-bottom: 0;
}

.card-number {
  margin: 0 0 40px;

  font-weight: 400;
  font-size: 64px;

  font-family: 'Neucha', cursive;

  line-height: 1;
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.card:hover .card-title {
  color: var(--white);
}
